.Home {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.Home-card {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-card-picture {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.Home-card-main {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    color: white;
    text-align: right;
    padding-right: 20px;
    max-width: 350px;
}

.Home-card-main-title {
    font-size: 2.5rem;
    color: white;
}

.Home-card-main-text { 
    font-size: 0.8rem;
    color: white;
}

.Home-card-main-button {
    font-size: 0.9rem;
    color: #618DA5;
    border: 2px transparent;
    padding: 10px;
    border-radius: 5px;
    width: 240px;
}

.Home-card-main-button:hover {
    background-color: #ececec;
    color: #4d7c95;
    cursor: pointer;
    border: #4d7c95;
}

@media only screen and (min-width: 581px) and (max-width: 800px) {
    .Home-card {
        justify-content:initial;
    }

    .Home-card-picture {
        width: 100vw;
        height: 100vh;
    }

    .Home-card-main {
        position: static;
        transform: none;
        text-align: left;
        padding: 0 20px;
        max-width: 100%;
    }

    .Home-card-main-title {
        font-size: 2rem;
        position: absolute;
        top: 1%;
        right: 10px;
        color: white;
        padding: 5px;
    }

    .Home-card-main-text {
        font-size: 0.8rem;
        position: absolute;
        top: 14%;
        right: 10px;
        text-align: right;
    }

    .Home-card-main-button {
        font-size: 0.8rem;
        position: absolute;
        top: 130px;
        right: 10px;
        padding-right: 10px;
        color: #618DA5;
        background-color: #ffff;
        border: none;
        border-radius: 5px;
        width: 220px;
    }

    .Home-card-main-button:hover {
        background-color: #618DA5;
        color: #ffff;
        cursor: pointer;
    }
}

@media only screen and (max-width: 580px) {
    .Home {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin: 0;
    }

    .Home-card {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .Home-card-picture {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .Home-card-main {
        top: 40px;
        right: 0;
        width: auto;
        height: auto;
        padding: 20px;
        z-index: 1;
        text-align: right;
        transform: none;
    }

    .Home-card-main-title,
    .Home-card-main-text {
        color: #FFFFFF;
        width: 90vw;
    }

    .Home-card-main-title {
        position: fixed;
        font-size: 1.5rem;
        margin-top: 10px;
        right: 20px;
        top: 60px;
    }

    .Home-card-main-text {
        position: fixed;
        font-size: 0.9rem;
        right: 20px;
        top: 90px;
    }

    .Home-card-main-button {
        position: fixed;
        font-size: 1rem;
        bottom: 20px;
        left: 10px;
        background-color: #618DA5;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 94%;
    }
}

@media only screen and (max-width: 310px) {
    .Home-card-main-title {
        position: fixed;
        font-size: 1.3rem;
        margin-top: 10px;
        right: 20px;
        top: 60px;
    }

    .Home-card-main-text {
        position: fixed;
        font-size: 0.9rem;
        right: 20px;
        top: 90px;
        padding-top: 10px;
    }
}
